@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.animalListImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.animalDetailImg {
    /* width: 500px; */
    height: 500px;
    object-fit: contain;
}

/* 상세페이지 */
.flex-detail-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.flex-detail-img {
    /* display: flex-start; */
    width: 500px;

}

.flex-detail-img img{
    height: 550px;
    width: 500px;
    object-fit: contain;
}

.flex-detail-item {
   /* display: flex-end; */
   margin-left: 5%;
}

/* 펫 리스트 */
.pet-list-container {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

.flex-list-container {
    display: flex;
    margin-top: 50px;
}

.flex-list-item {
    width: 200px;
    margin-top: 20px;
    margin-left: 3%;
 }

.flex-list-img {
    /* display: flex-start; */   
}

.flex-list-img a img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
