@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.reports {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin-inline: 5%;
}

.rboard{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.rboard legend {
    background-color: #f7cd10;
    width: fit-content;
    padding-inline: 10px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.rboard table {
    table-layout: fixed;
    height: 90%;
}

.bReport {
    width: 50%;
}

.cReport {
    margin-left: 5%;
    width: 50%;
}

.bReport td:first-child, .cReport td:first-child,
.bReport td:nth-child(2), .cReport td:nth-child(2) {
    text-align: center;
    width: 15%;
}

.bReport th, .cReport th {
    text-align: center;
    background-color: transparent;
}

.bReport td, .cReport td {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.rboard .pagination {
    margin-left: 40%;
}

.rboard .pagination li {
    width: 20px;
    height: 20px;
    text-align: center;
}

.rboard .pagination li a {
    text-decoration: none;
    color: black;
    background-color: #DECCCC;
    padding-inline: 5px;
    border-radius: 10px;
}

.rboard .pagination li.active a {
    color: #B89E97;
    font-weight: 700;
}

