
  /* AdminSidebar.css */
.admin-sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  
    /* 세로로 정렬 추가 */
    display: flex;
    flex-direction: column;
  }
  
  .admin-sidebar a {
    color: #fff;
    text-decoration: none;
  }

  .admin-sidebar a:active {
      font-weight: bold;
  }

  